<form class="form__search">
  <fieldset class="form__data --row">
    <select name="selectAutor" #selectAuthor class="form__input">
      <option value="" disabled selected>Autor</option>
      <option *ngFor="let author of authorSet" [value]="author">{{author}}</option>
    </select>
    <select name="selectGenre" #selectGenre class="form__input">
      <option value="" disabled selected>Género</option>
      <option *ngFor="let genre of genreSet" [value]="genre">{{genre}}</option>
    </select>
    <select name="selectFormat" #selectFormat class="form__input">
      <option value="" disabled selected>Formato</option>
      <option *ngFor="let type of formatSet" [value]="type">{{type}}</option>
    </select>
  </fieldset>
  <fieldset class="form__data --row">
    <button type="button" (click)="reset()">Reset</button>
    <button type="button" (click)="filter(selectAuthor.value, selectGenre.value, selectFormat.value)">Filtrar</button>
  </fieldset>
</form>