<body>
  <div class="section__content">
    <div class="section__row animate__animated animate__backInLeft">
      <div class="section__column --left --left-border">
        <div class="blob"></div>
      </div>
      <div class="section__column --right">
        <h2 class="section__subtitle --right">
          ¿Eres escritor o escritora y quieres distribuir tu libro con
          nosotros?
        </h2>
        <p class="section__text">
          Si ya eres usuario, rellena el formulario con los datos de tu libro
          para que aparezca en el listado!
        </p>
        <button class="section__button" type="button" (click)="scroll('form-book')">
          Registra un libro
        </button>
      </div>
    </div>
  </div>

  <section *ngIf="filteredList.length !== 0; else noBooks" class="books">
    <div class="section__content">
      <h1 class="section__title">Nuestra Biblioteca</h1>
      <div class="section__row">
        <p class="section__text">
          Esta es nuestra colección. Busca el libro que desees, y si no esta,
          rellena el formulario e interamenos conseguirlo.
        </p>
        <!--Componente: form-search  -->
        <app-form-search class="section__content" [bookList]='books' (filterBook)="filtered($event)"></app-form-search>
      <!--  -->
      </div>
    </div>
<!--? Componente Cards -->
<!-- Todo: arreglar reset -->
<app-cards [bookData]="filteredList"></app-cards>
<!--?  -->
  </section>
  <ng-template #noBooks>
    <div class="not-found books">
      <div class="section__content">
        <div class="section__row">
          <div class="section__column --left">
            <h2 class="section__subtitle --left">
              UUUUPPPS.... parece que la información que buscas no esta
              disponible
            </h2>
            <p class="section__text">
              Si ya eres usuario, rellena el formulario con los datos de tu
              libro para que aparezca en el listado!
            </p>
            <div class="section__row --left">
              <button class="section__button" type="button" (click)="scroll('form-book')">
                Registra un libro
              </button>
              <button class="section__button" type="button" (click)="reset()">
                Vuelve a buscar
              </button>
            </div>
          </div>
          <div class="section__column --right">
            <div class="blob--bg2"></div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <section id="form-book">

    <!--TODO: cambiar por un componente y crear servicio  -->
    <div class="form__container --50">
      <h2 class="form__title">Regístra un nuevo libro</h2>
      <form [formGroup]="formBook" class="form">
        <fieldset id="personal-data" class="form__data">
          <div class="form__element">
            <label for="newBook_id_user" class="form__element-label">Usuario</label>
            <input type="text" class="form__element-input" id="newBook_id_user" formControlName="usuario"
              [ngClass]="{'is-invalid': (formBook.get('usuario')?.dirty || formBook.get('usuario')?.touched) && !formBook.get('usuario')?.valid}"
              placeholder="Id de usuario" />
            <div
              *ngIf="(formBook.get('usuario')?.dirty || formBook.get('usuario')?.touched) && !formBook.get('usuario')?.valid"
              class="invalid--feedback">
              Este campo es obligatorio
            </div>
          </div>
          <div class="form__element">
            <label for="newBook_title" class="form__element-label">Titulo</label>
            <input type="text" class="form__element-input" id="newBook_title" formControlName="titulo"
              [ngClass]="{'is-invalid': (formBook.get('titulo')?.dirty || formBook.get('titulo')?.touched) && !formBook.get('titulo')?.valid}"
              placeholder="Título del libro" />
            <div
              *ngIf="(formBook.get('titulo')?.dirty || formBook.get('titulo')?.touched) && !formBook.get('titulo')?.valid"
              class="invalid--feedback">
              Este campo es obligatorio
            </div>
          </div>
          <div class="form__element">
            <label for="newBook_author" class="form__element-label">Autor</label>
            <input type="text" class="form__element-input" id="newBook_author" formControlName="autor"
              [ngClass]="{'is-invalid': (formBook.get('autor')?.dirty || formBook.get('autor')?.touched) && !formBook.get('autor')?.valid}"
              placeholder="Autor del libro" />
            <div
              *ngIf="(formBook.get('autor')?.dirty || formBook.get('autor')?.touched) && !formBook.get('autor')?.valid"
              class="invalid--feedback">
              Este campo es obligatorio
            </div>
          </div>
          <div class="form__element">
            <label for="newBook_genre" class="form__element-label">Género</label>
            <input type="text" class="form__element-input" id="newBook_genre" formControlName="genero"
              [ngClass]="{'is-invalid': (formBook.get('genero')?.dirty || formBook.get('genero')?.touched) && !formBook.get('genero')?.valid}"
              placeholder="Terror, ciencia ficción..." />
            <div
              *ngIf="(formBook.get('genero')?.dirty || formBook.get('genero')?.touched) && !formBook.get('genero')?.valid"
              class="invalid--feedback">
              Este campo es obligatorio
            </div>
          </div>
          <div class="form__element">
            <label for="picture" class="form__element-label">Imagen</label>
            <input type="text" class="form__element-input" id="picture" formControlName="imagen"
              [ngClass]="{'is-invalid': (formBook.get('imagen')?.dirty || formBook.get('imagen')?.touched) && !formBook.get('imagen')?.valid}"
              placeholder="Url de la imagen" />
            <div
              *ngIf="(formBook.get('imagen')?.dirty || formBook.get('imagen')?.touched) && !formBook.get('imagen')?.valid"
              class="invalid--feedback">
              Este campo es obligatorio
            </div>
          </div>
        </fieldset>
        <fieldset id="personal-data" class="form__data">
          <div class="form__element">
            <label for="newBook_id_book" class="form__element-label">Referencia</label>
            <input type="text" class="form__element-input" id="newBook_id_book" formControlName="referencia"
              [ngClass]="{'is-invalid': (formBook.get('referencia')?.dirty || formBook.get('referencia')?.touched) && !formBook.get('referencia')?.valid}"
              placeholder="Id del libro" />
            <div
              *ngIf="(formBook.get('referencia')?.dirty || formBook.get('referencia')?.touched) && !formBook.get('referencia')?.valid"
              class="invalid--feedback">
              Este campo es obligatorio
            </div>
          </div>
          <div class="form__element">
            <h6 class="form__element-label">Formato y precio</h6>
            <div class="form__element-row">
              <div formArrayName="formato">
                <div class="form__element-row" *ngFor="let type of types; let i = index">
                  <label [for]="'formato' + i" class="form__element-label">{{type.type}}</label>
                  <input type="checkbox" [id]="'formato' + i" class="form__element-input" [formControlName]="i"
                    (change)="togglePriceControl(i)">
                </div>
              </div>
              <div formArrayName="precio">
                <div class="form__element-row" *ngFor="let type of types; let i = index">
                  <input type="number" [id]="'precio' + i" class="form__element-input" [formControlName]="i"
                    placeholder="Precio" />
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form__button-wrapper">
          <button class="form__button" type="button" (click)="anyadirLibro()" [disabled]="formBook.invalid">Registrar
            libro</button>
        </div>
      </form>
    </div>
  </section>

</body>